@import '../FormComponents';

.formInputGroup {

  :global(.input-group) {
    display: flex;
    align-items: center;
    @extend .inputLayout;
    width: 100%;

    > span {
      width: auto;
      padding: 0;
      background: none;
      border: none;
      @extend .inputFont;
      color: $xfers_black;

      &:first-child {
        padding-right: $small_space;
      }
    }

    > :global(.input-group-addon:last-child) {
    }
  }

  input {
    @extend .inputFont;
    @extend .inputLayout;
    padding: 0;
    border-bottom: none;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}
