@import 'styles/_variables';

.searchBar {
  background-color: #fff;
  border-radius: 28px;
  padding: 0 28px;
  height: 56px;
  margin-bottom: $medium_space;
  display: flex;
}

.searchIcon {
  height: 26px;
  width: 26px;
  padding: 15px 0;
}
