@import 'styles/_variables';

.inputFont {
  color: $xfers_clear_blue;
  font-size: 30px;
  font-weight: $font_weight_light;
  letter-spacing: 0.8px;
  line-height: 36px;

  &::placeholder {}
}

.inputLayout {
  border-radius: 2px;
  height: 48px;
  border: none;
  background: transparent;
  border-bottom: 1px solid $xfers_clear_blue;
  box-shadow: none;
}

.helpBlock {
  text-align: justify;
  text-justify: inter-word;
}

.caption {
  color: $xfers_text_grey;
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 16px;
}

:global(.has-feedback .form-control) {
  padding-right: 12px;
}

// COMPONENT STYLES
