@import 'styles/_variables';

.modalHeader {
  background-color: $xfers_clear_blue;
  color: #ffffff;

  .title {
    display: block;
    height: $medium_space * 3;
    padding: $medium_space;
    text-align: center;

    > img {
      height: 20px;
      width: 20px;
      cursor: pointer;
      position: absolute;
      left: 20px;
    }
  }

  .subHeading {
    font-size: 24px;
    text-align: center;
    line-height: 26px;
    font-weight: $font_weight_bold;
  }

  .desc {
    font-size: 20px;
    line-height: 26px;
    font-weight: $font_weight_light;
    padding: $medium_space;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
