.step_label{
  display: block;
  background: transparent;
  border: none;
  outline: none !important;
  font-size: 14px;
  padding-bottom: 16px;
  padding-top: 30px;
  width: 100%;
  text-transform: uppercase;
}

.step_label.activated{
  font-weight: 700;
}

.step_label.disabled{
  color: rgba(0, 0, 0, 0.5);
}

.step_underline_container {
  height: 4px;
  width: 100%;
  position: relative;
}

.step_underline_progress{
  background: #DBE6EC;
}

.step_underline {
  height: 100%;
  position: absolute;
  background: #51B9DE;
  display: block;
  transition: 0.5s ease;
  left: 0;
}
