@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttc");
    /* Add other formats as you see fit with ',' */
}

html, body {
  height: 100%;
  font-family: 'HelveticaNeue';
}
