@import 'styles/_variables';

// ************************************************************************* //
//**   Small screens (mobile first)

.contentWrapper {
  padding: ($main-navbar-height + 18px) 18px 18px;
  width: 100%;
  left: 0;
  background-color: #F1F5F9;
  @include transition(all 300ms ease-in-out);

  .pageTitle {
    text-transform: uppercase;
    border-bottom: 1px solid #DFE4E6;
    padding: 0 0 18px;
    margin-bottom: 36px;
    font-size: 28px;
  }
}

// ************************************************************************* //
//**   Tablets                                                             **//
//
// @media (min-width: $screen-small) {
//   .contentWrapper,
//   .collapsed.contentWrapper {
//     padding: ($main-navbar-height + 18px) 18px 18px ($main-menu-collapsed-width + 18px);
//   }
//
//   .expanded.contentWrapper {
//     padding: ($main-navbar-height + 18px) 18px 18px ($main-menu-width + 18px);
//   }
//
// }


// ************************************************************************* //
//**   Desktops                                                            **//
//
@media (min-width: $screen-tablet) {
  .contentWrapper {
    padding: 36px 60px 36px ($main-menu-width + 60px);
  }
}
