.notepadContainer {
  position: relative;
}

.notepad {
  background: #FFF3DE;
  padding: 18px;
  max-width: 530px;
  margin: auto;
}

@media (min-width: 64em) {
  .notepad {
    padding: 18px 36px;
  }
}

@media (min-width: 94em) {
  .notepad {
    width: 400px;
    position: absolute;
  }
}
