@import 'styles/_variables';

.stickyPanel {
  padding-bottom: $medium_space;
  > div {
    height: 660px;
  }
}

.overflow {
  display: flex;
  flex: 1 !important;

  > div {
    overflow: auto;
    flex: 1;
  }
}

.stickyPanelFooter {
  margin-top: auto;
}

.sidePadding {
  padding-left: $extra_extra_large_space;
  padding-right: $extra_extra_large_space;
}

.branding {
  padding-top: $medium_space;
  text-align: center;
}

@media (max-width: $screen-small) {
  .sidePadding {
    padding-left: $medium_space;
    padding-right: $medium_space;
  }
}
