@import 'styles/_variables';

.selectionButton {
  box-shadow: 0px 1px 2px #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  margin: auto;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background-color: $xfers_grey;
  }
}

.selectionButton + .selectionButton {
  margin-top: 8px;
}

.image {
  max-width: 80%;
  max-height: 30px;
  display: block;
}

.custom {
  height: 40px;
  justify-content: center;
  align-items: center;
}

@media (max-width: $screen-small) {

}
