@import 'styles/_variables';

.panel {
  position: relative;
  max-width: 660px;
  box-shadow: 0px 1px 2px #ccc;
  background-color: $xfers_grey;
  margin: 0 auto;
}

.panelHeader {
  background-color: #234a8c;
  color: #ffffff;
}

@media (max-width: $screen-small) {

}
