@import 'styles/_variables';

.panelTitle {
  margin-bottom: 36px;
  h4 {
    font-size: 24px;
    color: $primary_xfers_blue;
    font-weight: 400;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
