.multipleFileUploadBoxes {
  padding: 36px 0;
}


.fileNameLabel {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 16px;
}

.spin {
  animation: rotateRight 0.6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotateRight{
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

.checkGreen {
  color: green;
}

.iconholder {
  display: inline;
  padding-right: 15px;
  font-size: 20px;
}

.cancelButton {
  display: inline;
  padding-left: 15px;
  color: grey;
  font-size: 24px;
}

.cancelButton:hover {
  color: darkred;
}

.uploadButton {
  margin: 10px 0px 0px;
}