@import 'styles/_variables';

.stickyPanel {
  padding-bottom: $medium_space;
}

.stickyPanelFooter {
  margin-top: auto;
}

.noSidePadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.branding {
  padding-top: $medium_space;
  text-align: center;
}
