@import 'styles/_variables';

html {
  font-size: 18px !important; // for rem units
}

.datePickerContainerClass {
  vertical-align: top;
  display: inline-block;
  height: 48px;
  border: 1px solid #c2c2c2;

  .icon {
    display: inline-block;
    line-height: 46px;
    vertical-align: top;
    padding: 0 12px;
    img {
      width: 18px;
    }
  }

  > div {
    height: 34px;
    display: inline-block;

    :global(.react-datepicker-popper) {
      z-index: 2000;
    }
  }

  :global(.form-group) {
    margin-bottom: 0;
  }

  input {
    cursor: pointer;
    border-radius: 0px;
    width: 110px;
    text-align: center;
    border: none;
    height: 46px;
  }
}

@media (max-width: $screen-small) {
  .datePickerContainerClass {
    width: 100%;
  }
}
