@import 'styles/_variables';

.modalHeader {
  color: #fff;
  font-size: 12px;
  font-weight: $font_weight_light;
  letter-spacing: 0.5px;
  line-height: $medium_space;
  text-transform: uppercase;
}

.panelTitle {
  color: $xfers_black;
  font-size: 20px;
  margin-top: $extra_extra_large_space;
  margin-bottom: $extra_large_space;
  display: block;
  font-weight: $font_weight_light;
  line-height: 26px;
}

.label {
  color: $xfers_clear_blue;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: $font_weight_light;
  display: block;
}

.boldValue {
  color: $xfers_black;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: $font_weight_bold;
  display: block;
}
