.formGroup {
    position: relative;
    margin-bottom: 18px;

    .popover {
      position: absolute;
      top: 10px;
      right: -45px;
    }

    .infoLabel {
      border: 2px solid #3f5d9b;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      line-height: 28px;
      text-align: center;
      font-weight: 500;
      color: #3f5d9b;
      font-size: 18px;
      display: inline-block;
    }
}
