<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xfers.xfers_sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity android:name=".view.shared.ComingSoonActivity" />

        <activity android:name=".view.topup.TopupBankSelectionActivity" />
        <activity android:name=".view.pay.PaymentConfirmationActivity" />
        <activity android:name=".view.withdraw.WithdrawToBankActivity" />
        <activity
            android:name=".view.connect.ConnectPhoneActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.connect.ConnectOTPActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.connect.ConnectShareKYCActivity" />
        <activity android:name=".view.connect.ConnectLinkSuccessfulActivity" />
        <activity android:name=".view.connect.ConnectIdentityVerificationActivity" />
    </application>

</manifest>