<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xfers.xfers_sdk">

    <application>
        <activity android:name=".view.ComingSoonActivity" />
        <activity android:name=".view.ConnectPhoneActivity" />
        <activity android:name=".view.ConnectOTPActivity" />
        <activity android:name=".view.ConnectShareKYCActivity" />
        <activity android:name=".view.ConnectLinkSuccessfulActivity"></activity>
    </application>

</manifest>