<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xfers.xfers_sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <!-- Misc UI / flow -->

        <activity android:name=".view.shared.StatusCardBaseActivity" />

        <!-- Manage banks flow -->

        <activity
            android:name=".view.manage_banks.ManageBankAccountsActivity" />

        <activity
            android:name=".view.manage_banks.add_bank_account.SelectBankToAddActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.manage_banks.add_bank_account.EnterNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.manage_banks.add_bank_account.EnterBankAccountNumberActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.manage_banks.add_bank_account.ReEnterBankAccountNumberActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.manage_banks.add_bank_account.AddBankAccountConfirmationActivity" />

        <activity android:name=".view.manage_banks.delete_bank_account.DeleteBankAccountConfirmationActivity" />

        <!-- Topup flow -->

        <activity android:name=".view.topup.TopupBankSelectionActivity" />
        <activity android:name=".view.topup.TopupVirtualAccountTransferActivity" />

        <!-- Payment flow -->

        <activity android:name=".view.pay.PaymentConfirmationActivity" />

        <!-- Withdrawal flow -->

        <activity
            android:name=".view.withdrawal.WithdrawalAmountActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.withdrawal.WithdrawalBankSelectionActivity" />
        <activity android:name=".view.withdrawal.WithdrawalConfirmationActivity" />

        <!-- KYC flow -->

        <activity android:name=".view.kyc.KycDocumentPreparationActivity" />
        <activity
            android:name=".view.kyc.KycKtpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.kyc.KycFullNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.kyc.KycCountryOfBirthActivity" />
        <activity
            android:name=".view.kyc.KycDateOfBirthActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.kyc.KycMotherMaidenNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.kyc.KycEmailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.kyc.KycPersonalDetailsVerificationActivity" />
        <activity android:name=".view.kyc.KycConfirmKtpImageActivity" />
        <activity android:name=".view.kyc.KycPrepareKtpSelfieActivity" />
        <activity android:name=".view.kyc.KycConfirmKtpSelfieActivity" />

        <activity android:name=".view.kyc.KycDocumentsConfirmationActivity" />

        <activity
            android:name=".view.kyc.KycMerchantEmailActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".view.kyc.KycVerificationStatusActivity" />

        <!-- Connect flow -->

        <activity
            android:name=".view.connect.ConnectPhoneActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.connect.ConnectOTPActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".view.connect.ConnectShareKYCActivity" />
        <activity android:name=".view.connect.ConnectIdentityVerificationActivity" />

        <!-- Menu UI / flow -->

        <activity android:name=".view.menu.XfersMenuActivity" />

        <!-- Transactions History UI / flow -->

        <activity android:name=".view.transactions_history.TransactionsHistoryActivity" />
        <activity android:name=".view.transactions_history.TransactionHistoryActivity" />

    </application>

</manifest>
