.divider {
  display: flex;
  align-items: center;

  &.marginTop {
    margin-top: 18px;
  }

  &.marginBtm {
    margin-bottom: 18px;
  }

  hr {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #D3D3D3;
  }
  span {
    flex-basis: auto;
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
  }
}