// Screen sizes
$screen-desktop: 992px;
$screen-tablet:  768px;
$screen-small:   480px;

// Sizing
$tiny_space: 4px;
$small_space: 8px;
$medium_space: 20px;
$large_space: 25px;
$extra_large_space: 30px;
$extra_extra_large_space: 40px;

//  New Color Palettes
$xfers_clear_blue: rgb(47, 141, 238);
$xfers_grey: rgb(247, 247, 247);

// Primary Color Palettes
$primary_xfers_black: #000000;
$primary_xfers_light_block: #9B9B9B;
$primary_xfers_grey: #CECECE;
$primary_xfers_blue: #234A8C;
$primary_xfers_orange: #FF9258;
$primary_xfers_green: #28C8AB;
$primary_xfers_red: #D0021B;
$primary_xfers_purple: #9013FE;
$primary_xfers_pink: #BD10E0;
$primary_xfers_brown: #8B572A;
$primary_xfers_dark_green: #417505;
$primary_xfers_sky_blue: #F2FAFF;

// Component Color
$notepad_yellow: #FFF3DE;

// Button Color
$secondary_btn_green: #28C8AB;
$secondary_btn_orange: #FF9258;
$tertiary_btn_white: #FFFFFF;
$cancel_button_grey: #9B9B9B;
$question_button_grey: #3A3A3A;

// Button Spinner Color
$button-spinner-light: #FAFAFA;
$button-spinner-dark: #DDDDDD;

// Font weight
$font_weight_light: 200;
$font_weight_regular: 400;
$font_weight_medium: 600;
$font_weight_bold: 700;
$font_weight_bolder: 900;

// Main navbar height
$main-navbar-height: 46px;
$main-navbar-right-padding: 16px;

// Main menu width
$main-menu-width: 240px;

// Collapsed main menu width
$main-menu-collapsed-width: 56px;

// Main menu item height
$main-menu-item-height: 42px;
$main-menu-subitem-height: 42px;

// Z-Indexes
$zindex-main-menu: 500;

.pendingColor {
  color: $primary_xfers_orange;
}

.completedColor {
  color: $primary_xfers_green;
}

.cancelledColor {
  color: $primary_xfers_red;
}

.expiredColor {
  color: $primary_xfers_brown;
}

.refundedColor {
  color: $primary_xfers_purple;
}

.awaitShippingColor {
  color: $primary_xfers_pink;
}

.shippedColor {
  color: $primary_xfers_dark_green;
}

.lightWeight {
  font-weight: $font_weight_light;
}

.regularWeight {
  font-weight: $font_weight_regular;
}

.mediumWeight {
  font-weight: $font_weight_medium;
}

.boldWeight {
  font-weight: $font_weight_bold;
}

.bolderWeight {
  font-weight: $font_weight_bolder;
}
