@import 'styles/_variables';

// COMPONENT STYLES
.formInput {
  input {
    font-size: 30px;
    font-weight: $font_weight_light;
    border-radius: 2px;
    height: 48px;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid $xfers_clear_blue;
    letter-spacing: 0.8px;
    line-height: 36px;

    &::placeholder {
      font-size: 30px;
    }

    &:focus {
      outline: 0;
    }
  }

  :global(.has-feedback .form-control) {
    padding-right: 12px;
  }

  .helpBlock {
    text-align: justify;
    text-justify: inter-word;
  }

  .caption {
    color: $xfers_text_grey;
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 16px;
  }
}
