@import 'styles/_variables';

.notificationContainer {
  padding: 18px;
  box-shadow: 0px 1px 2px #ccc;
  background-color: #ffffff;
  text-align: left;

  &.danger {
    border-left: 12px solid $primary_xfers_red;
  }

  &.new {
    border-left: 12px solid $primary_xfers_green;
  }
  &.info {
    border-left: 12px solid $primary_xfers_blue;
  }

  .label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 3px 27px;
    margin-bottom: 10px;
    display: inline-block;

    &.dangerLabel {
      color: #ffffff;
      background-color: $primary_xfers_red;
    }
    &.newLabel {
      color: #ffffff;
      background-color: $primary_xfers_green;
    }
    &.infoLabel {
      color: #ffffff;
      background-color: $primary_xfers_blue;
    }

  }
}

.notificationContainer + .notificationContainer {
  margin-top: 9px;
}

.buttonContainer {
  margin-top: 9px;
  text-align: right;
}
