@import 'styles/_variables';

.modalHeader {
  background-color: $xfers_clear_blue;
  color: #ffffff;

  .title {
    padding: 18px;
    font-size: 12px;
    font-weight: $font_weight_light;
    letter-spacing: 0.5px;
    line-height: $medium_space;
    height: $medium_space;
    padding: $medium_space;
  }

  .desc {
    font-size: 20px;
    line-height: 26px;
    font-weight: $font_weight_regular;
    height: $extra_extra_large_space + $medium_space;
    padding-bottom: $medium_space;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
